.main-footer{
    /* color:white;
    background-color: rgb(148, 139, 144);
    padding-top: 2em;
    position: relative;
    bottom: 0%;
    width: 100%; */
    
        margin-top: 0rem;
        padding: 0.5rem;
        text-decoration: none;
        background-color: #a1aaac;
        color: black;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 12px;
        font-family: 'Josefin Sans', sans-serif;
       
        
        
      
}

/* .col{
    padding-right: 40%;
}
.col1{
    padding-right: 20%;
} */

.row{
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding-right: 8%;
    

}
/* .image{
    display: flex;
    justify-content: space-around;
} */